header {
  background-color: lightblue;
  border: 10px solid lightblue;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
@media (max-width: 700px){
  header > .lin {
    display: none;
  }
  header {
    text-align: center;
  }
}
.main-img {
margin-top: 150px;
display: flex;
direction: ltr;
flex-wrap: wrap;
justify-content: space-around;
align-items: stretch;
align-content: stretch;
}
.big-img {
  margin-top: 50px;
  display: flex;
  direction: ltr;
  flex-wrap: wrap;
  justify-content: space-around;
}
img {
 margin-left: 10px;
 margin-right: 10px;
}
