header {
  background-color: lightblue;
  border: 10px solid lightblue;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
.lin {
  position: fixed;
  top: 45px;
  left: 130px;
  font-size: large;
}
.lin a {
  margin-left: 10px;
}
@media (max-width: 700px){
  header > .lin {
    display: none;
  }
  header {
    text-align: center;
  }
}
.main-img {
margin-top: 110px;
display: flex;
direction: ltr;
flex-wrap: wrap;
justify-content: space-around;
align-items: stretch;
align-content: space-around;
}
img {
 margin-top: 40px;
 margin-left: 10px;
 margin-right: 10px;
 width: 150px;
}
@media (min-width: 1392px) {
  .main-img img:nth-last-child(-n+4){
    width: 280px;
  }
}
@media (max-width: 1392px) and (min-width: 1210px) {
  .main-img img:nth-last-child(-n+5){
    width: 200px;
  }
}
/*@media (max-width: 1210px) and (min-width: 1055px){
  .main-img img:nth-last-child(-n+6){
    width: 180px;
  }
}*/
@media (max-width: 1055px) and (min-width: 880px) {
  .main-img img:nth-last-child(-n+2){
    width: 350px;
  }
}
